.navbar-brand {
	background: url("home/img/logo.png");
	background-size: cover;
	width: 24px;
	top: 14px;
	left: 6px;
}
.locked {
	opacity: .6;
	text-decoration: line-through;
}

/*
 * Console in square
 */

.fa-square.terminal+.fa-terminal {
	font-size: .5em;
	margin-top: -.3em;
}
.fa-stack.terminal {
	width: 1em;
	height: 1em;
	line-height: 1em;
}
.fa-stack.fa-fw {
    width: 1.25em;
	height: 1em;
	line-height: 1;
}

/* Dropdown menu in table */

td>.btn-group {
	padding-top: 0;
	margin-bottom: -1px;
	vertical-align: inherit;
	font-size: inherit;
	cursor: pointer;
	margin-top: 0;
}

html {
	width: 100%;
}
.icon-info {
	font-size: 18px;
}
.bs-inbox {
	position: relative;
}
.bs-inbox .count {
	vertical-align: middle;
	position: relative;
	top: 4px;
	font-weight: 700;
}
.bs-inbox .popover {
	max-width: 500px;
	width: 500px;
}
.bs-inbox .inbox-trigger .label {
	border: 2px solid #fff;
	font-weight: 500;
	padding: 0;
	text-align: center;
	border-radius: 50%;
	left: 28px;
	position: absolute;
	top: 6px;
	width: 19px;
	height: 19px;
	padding-top: 0;
	margin-top: 0;
	line-height: 8px;
}
.label.avatar {
	border: 2px solid #fff;
	font-weight: 500;
	text-align: center;
	border-radius: 50%;
	position: relative;
	width: 32px;
	height: 32px;
	padding-top: 9px;
	text-transform: uppercase;
	display: inline-block;
}
.label.avatar img.tool {
	vertical-align: top;
	margin-right: 2px;
	margin-top: -2px;
}
.select2-chosen img.tool {
	vertical-align: middle;
	margin-top: -3px;
}
.select2-offscreen, .select2-offscreen:focus {
	top: 35px !important;
}
[data-group] .input-group .input-group-btn .btn {
	padding-left: 0;
	padding-right: 0;
}
[data-group] .input-group .input-group-btn {
	padding-left: 0;
}
i.resource {
	min-width: 12px;
}

.cascade-title {
	font-size: x-large;
	display: block;
	text-align: center;
	height: 0;
	position: relative;
	top: 10px;
}
@media (max-width: 767px) {
.navbar-collapse .cascade-title {
	display: none;
}
}
@media (min-width: 768px) {
.navbar-header .cascade-title {
	display: none;
}
}

table .hidden-table {
	display: none;
}
.dt-button.buttons-colvisRestore {
	border-top-color: lightgrey;
	border-top-style: double;
}
.dt-button.buttons-columnVisibility.active > a,  .dropdown-menu > .dt-button.buttons-columnVisibility.active > a:focus {
	border-left-color: #9c27b0;
    border-left-style: solid;
}
.dt-button.buttons-columnVisibility.active a {
	margin-left: 0;
	color: inherit;
	border-radius: 0;
	background-color: inherit;
}
.dt-button-collection-title {
	display: none;
}
.dropdown-menu .dt-button.buttons-columnVisibility >a {
	margin-left: 0;
	border-radius: 0;
	padding-left: 8px;
}
.dropdown-menu.dt-button-collection {
	padding-top: 0;
}
#_about .logo {
    background: url(home/img/logo.png);
    background-size: cover;
    width: 32px;
    position: relative;
    display: inline-block;
    height: 32px;
    margin-right: 4px;
    margin-bottom: -11px;
    background-repeat: no-repeat;
}
#_about a.brand {
	background-image: url(../themes/bootstrap-material-design/img/brand.png);
	background-size: cover;
	height: 18px;
	width: 18px;
	display: inline-block;
    top: 1px;
    position: relative;
    padding-left: 18px;
    font-weight: bold;
}
